# python keywords

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# python statements

In [2]:
c=5

In [3]:
c

5

In [4]:
a=10+20+30+\
  40+50+\
  60

In [5]:
a

210

In [6]:
b=70+80+\
  10

In [7]:
b

160

In [8]:
c=a+b

In [9]:
c

370

# python indentation

In [10]:
for i in "smartinternz":
    print(i)

s
m
a
r
t
i
n
t
e
r
n
z

In [11]:
a=10
if a>=0:
    if a==0:
        print("zero")
    else:
        print("positive number")
else:
    print("negative number")

positive number

In [12]:
for i in range(0,5):
    print(i)
print("end")

0
1
2
3
4
end

In [13]:
for x in range(6,10):
    print(x)
    print("next")

6
next
7
next
8
next
9
next

# python comments

In [14]:
#this is comment
print("comments will not be printed")

comments will not be printed

# python variables

In [15]:
c,d,e="hai",15,6.0

In [16]:
print(c)

hai

In [17]:
d

15

In [18]:
type(e)

float

# python literals

In [19]:
#Numeric literals
a=156 #integer literal
b=45.0 #float literal
c=1001 #binary literal
d=1.14j #complex literal
print(a,b,c,d)

156 45.0 1001 1.14j

In [20]:
#String literals
str1='This is internship program'
str2="and python is very interesting\
      and easy to learn"
ch="b"

In [21]:
print(ch,str1,str2)

b This is internship program and python is very interesting      and easy to learn

In [22]:
#boolean literals
b1=True
b2=False
print(b1,b2)

True False

# python datatypes

In [23]:
d1=10
d2=20.5
d3=5.6j
d4=False

In [24]:
print(d1,d2,d3,d4)

10 20.5 5.6j False

In [25]:
type(d1)

int

In [26]:
type(d2)

float

In [27]:
type(d3)

complex

In [28]:
type(d4)

bool

In [29]:
print("The value of d1 is",d1,"The value of d2 is",d2)

The value of d1 is 10 The value of d2 is 20.5

In [30]:
print("value of d1 is %d value of d2 is %f imaginary value of d3 is %d real value of d3 is %0.3f"%(d1,d2,d3.imag,d3.real),"value of d4",d4)

value of d1 is 10 value of d2 is 20.500000 imaginary value of d3 is 5 real value of d3 is 0.000 value of d4 False

# strings[indexing,slicing]

In [31]:
f="this is jupyter notebook"

In [32]:
f[0]

't'

In [33]:
f[-3]

'o'

In [34]:
f[5:]

'is jupyter notebook'

In [35]:
f[:9]

'this is j'

In [36]:
f[10:15]

'pyter'

In [37]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
f.capitalize()

'This is jupyter notebook'

In [39]:
#casefold converts capital letters into small letters
f.casefold()

'this is jupyter notebook'

In [40]:
f.split('s')

['thi', ' i', ' jupyter notebook']

In [41]:
f.count('o')

3

In [42]:
f.find('y')

11

# lists

In [43]:
l=["zero",1,"two",3.05]

In [44]:
l

['zero', 1, 'two', 3.05]

In [45]:
l[2]

'two'

In [46]:
l[-3]

1

In [47]:
l[1:]

[1, 'two', 3.05]

In [48]:
l[:3]

['zero', 1, 'two']

In [49]:
l[0:2]

['zero', 1]

In [50]:
l[3]="three"

In [51]:
l

['zero', 1, 'two', 'three']

In [52]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [53]:
l.append(9)

In [54]:
l

['zero', 1, 'two', 'three', 9]

In [55]:
l.append(["five","six",7])

In [56]:
l

['zero', 1, 'two', 'three', 9, ['five', 'six', 7]]

In [57]:
l.clear()

In [58]:
l

[]

In [59]:
list=['hai',24,"jack"]

In [60]:
list

['hai', 24, 'jack']

In [61]:
list.count('jack')

1

In [62]:
list.extend(['nick',3,56])

In [63]:
list

['hai', 24, 'jack', 'nick', 3, 56]

In [64]:
list.insert(2,"jill")

In [65]:
list

['hai', 24, 'jill', 'jack', 'nick', 3, 56]

In [66]:
list.pop()

56

In [67]:
list.remove('jack')

In [68]:
list

['hai', 24, 'jill', 'nick', 3]

In [69]:
#list comprehension
l2=[i for i in range(0,20) if(i % 2 != 0)]

In [70]:
l2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# tuples

In [71]:
t=(1,"smart",2,"bridge")

In [72]:
t

(1, 'smart', 2, 'bridge')

In [73]:
t[1]

'smart'

In [74]:
t[-2]

2

In [75]:
t[2:]

(2, 'bridge')

In [76]:
t[:1]

(1,)

In [77]:
#immutable
t[1]="indexing"

TypeError: 'tuple' object does not support item assignment

In [78]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [79]:
t.count('smart')

1

In [80]:
t.index('bridge')

3

# dictionaries

In [81]:
d={"harini":99,"sai":86,"virat":78}

In [82]:
d

{'harini': 99, 'sai': 86, 'virat': 78}

In [83]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [84]:
d['sai']

86

In [85]:
d['virat']=95

In [86]:
d

{'harini': 99, 'sai': 86, 'virat': 95}

In [87]:
d.items()

dict_items([('harini', 99), ('sai', 86), ('virat', 95)])

In [88]:
d.keys()

dict_keys(['harini', 'sai', 'virat'])

In [89]:
d.values()

dict_values([99, 86, 95])

In [90]:
d.pop('sai')

86

In [91]:
d

{'harini': 99, 'virat': 95}

In [92]:
d.popitem()

('virat', 95)

In [93]:
d

{'harini': 99}

# set

In [94]:
s={2,4,6,8,"one"}

In [95]:
s

{2, 4, 6, 8, 'one'}

In [96]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# datatype conversions

In [97]:
f1=900

In [98]:
f2=float(f1)

In [99]:
f2

900.0

In [100]:
f3="3456"

In [101]:
type(f3)

str

In [102]:
ff=float(f3)
fi=int(f3)

In [103]:
print(ff)
print(fi)

3456.0
3456

In [104]:
f4="string"

In [105]:
f5=float(f4)

ValueError: could not convert string to float: 'string'

In [106]:
#input() considers input as string
a=input("enter a value")
b=input("enter b value")
c=a+b
print(a, b, c)#so output is concatenated

enter a value67
enter b value78
67 78 6778

In [107]:
n1=int(input("enter n1 value"))
n2=int(input("enter n2 value"))
n3=n1*n2
n4=n1+n2
print(n1,n2,n3,n4)

enter n1 value60
enter n2 value90
60 90 5400 150

# conditional statements

In [108]:
num=float(input("enter the number:"))
if num % 2 == 0:
    print("even number")
elif num % 2 != 0:
    print("odd number")
else:
    print("success")

enter the number:89
odd number

# loops

In [109]:
#while loop
n=20
while n <30:
    print("the number is:",n)
    n+=1

the number is: 20
the number is: 21
the number is: 22
the number is: 23
the number is: 24
the number is: 25
the number is: 26
the number is: 27
the number is: 28
the number is: 29

In [110]:
#write a program to add natural numbers upto 10
num=1
s=0
while num <= 10:
    print("number is",num)
    s+=num
    num+=1
    print("sum is",s)

number is 1
sum is 1
number is 2
sum is 3
number is 3
sum is 6
number is 4
sum is 10
number is 5
sum is 15
number is 6
sum is 21
number is 7
sum is 28
number is 8
sum is 36
number is 9
sum is 45
number is 10
sum is 55

In [111]:
list1=["name",15,45.6,"school"]
for i in list1:
    print(i)

name
15
45.6
school

In [112]:
string="good morning"
for x in string:
    print(x)

g
o
o
d

m
o
r
n
i
n
g

In [113]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [114]:
#take a list ,iterate over the list and print sum of all elements present in the list using for loop
list=[20,35,40.5,60]
s=0
print("the given list is:",list)
for i in list:
    print("the element is",i)
    s+=i
    print("sum is:",s)
    i+=1

the given list is: [20, 35, 40.5, 60]
the element is 20
sum is: 20
the element is 35
sum is: 55
the element is 40.5
sum is: 95.5
the element is 60
sum is: 155.5

In [115]:
#break statement
b="welcome to roadies"
for val in b:
    if val == 'o':
        break
    print(val)
print("end")

w
e
l
c
end

In [116]:
#continue statement
b="welcome to roadies"
for val in b:
    if val == 'o':
        continue
    print(val)
print("end")

w
e
l
c
m
e

t

r
a
d
i
e
s
end

In [117]:
#pass statement
b="welcome to roadies"
for val in b:
    if val == 'o':
        pass
    print(val)
print("end")

w
e
l
c
o
m
e

t
o

r
o
a
d
i
e
s
end

# functions

In [118]:
def greet(name):
    print("hello good morning"+' '+str(name))

In [119]:
greet('arjuna')

hello good morning arjuna

In [120]:
def sub(a,b):
    c=a-b
    return c

In [121]:
a=int(input("enter a value:"))
b=int(input("enter b value:"))
sub(a,b)

enter a value:78
enter b value:67

11

In [122]:
def add(a,b):
    c=a+b
    d=a*b
    return c,d

In [123]:
a=int(input("enter a value:"))
b=int(input("enter b value:"))
add(a,b)

enter a value:9
enter b value:6

(15, 54)

In [124]:
#abs()-absolute value
integer=-56.99
print("The absolute value of",integer,"is:",abs(integer))

The absolute value of -56.99 is: 56.99

# args and kwargs

In [125]:
#args is used to add multiple values
def add(*num):
    s=0
    for i in num:
        s+=i
    return s

In [126]:
add(25,36,89,10)

160

In [127]:
#kwargs is used to pass a dictionary i.e key and value pairs
def intro(**data):
    for key,value in data.items():
        print("key is",key,"and","value is",value)

In [128]:
intro(name="siri",marks=99)

key is name and value is siri
key is marks and value is 99

# file handling in python

In [132]:
fp=open("name.txt","w")
for i in range(3):
    fp.write("this is filehandling in python\n")
fp.close()

In [131]:
pwd

'G:\\Smartbridge\\gec-python'

In [133]:
fp=open("name.txt","a")
for i in range(3):
    fp.write("coding\n")
fp.close()

In [134]:
#for reading the content
fp=open("name.txt","r")
x=fp.read()
print(x)
fp.close()

this is filehandling in python
this is filehandling in python
this is filehandling in python
coding
coding
coding

In [135]:
fp=open("name.txt","r")
x=fp.readlines()
print(x)
fp.close()

['this is filehandling in python\n', 'this is filehandling in python\n', 'this is filehandling in python\n', 'coding\n', 'coding\n', 'coding\n']

In [140]:
fp=open("name.txt","r")
x=fp.readlines(3)
print(x)
fp.close()

['this is filehandling in python\n']

In [148]:
fp=open("name.txt","a")
a=int(input("enter a value"))
b=int(input("enter b value"))
fp.write(str(a*b))
fp.close()

enter a value4
enter b value12

# exception handling

In [150]:
x=int(input("enter x value"))
y=int(input("enter y value"))
try:
    z=x/y
    print(z)
except:
    print("This is zero division error")
print("end")

enter x value23
enter y value0
This is zero division error
end

In [152]:
try:
    x=int(input("enter x value"))
    y=int(input("enter y value"))
    z=x/y
    print(z)
except Exception as e:
    print(e)

enter x valueHI
invalid literal for int() with base 10: 'HI'

In [158]:
try:
    a=int(input("a value"))
    print("good")
    b=int(input("b value"))
except ValueError:
    print("cannot convert string into integer")
    print("morning")
try:
    c=a/b
    print(c)
except ZeroDivisionError:
    print("cannot be divided by zero")
    print("bad")
d='hi'
e=9
try:
    f=d+e
    print(f)
except TypeError:
    print("cannot add string and int")
print(d)

a value12
good
b value7
1.7142857142857142
cannot add string and int
hi